version 5.119.7
generate_load_scripts: true
content: none
// just in case we need some special nuget feature again...
//source https://ci.appveyor.com/nuget/paket
source https://api.nuget.org/v3/index.json

nuget FAKE
github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
